# These are retrieved from your project at app.tina.io
NEXT_PUBLIC_TINA_CLIENT_ID=6a3241b3-f77a-4ae9-b6d8-d2ae99716ebc
TINA_TOKEN=18caed7e90e84ee80d816363dc7d23db8c5412d4
NEXT_PUBLIC_USE_LOCAL_CLIENT=0
# This is set by default CI with Netlify/Vercel/Github, but can be overriden
NEXT_PUBLIC_TINA_BRANCH=main
# To see the preview functionality
VERCEL_ENV=preview

CLOUDINARY_CLOUD_NAME=dknctjjlc
CLOUDINARY_API_KEY=827775379465381
CLOUDINARY_API_SECRET=IiGptlMU6hwBGQrFeDGpw1EMlA0

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dknctjjlc
NEXT_PUBLIC_CLOUDINARY_API_KEY=827775379465381
CLOUDINARY_API_SECRET=IiGptlMU6hwBGQrFeDGpw1EMlA0